/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/* Fonts */
@font-face { font-family: ProximaNova-light; src: url('fonts/ProximaNova-Light.otf'); } /* ProximaNova-light */

body {
	background-image: url('background.png');
	
	/* Standard font settings */
	font-size: 11px;
	font-family: "ProximaNova-light";
	line-height: 18px;
	color: #FFFFFF;
}

a {
	color: #4ea7e0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.innerwrapper {
	width: 960px;
	margin: 0 auto;
}