/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/* Fonts */
@font-face { font-family: ProximaNova-light; src: url('fonts/ProximaNova-Light.otf'); } /* ProximaNova-light */
@font-face { font-family: ProximaNova-semibold; src: url('fonts/ProximaNova-Semibold.otf'); } /* ProximaNova-semibold */
@font-face { font-family: Rockwell; src: url('fonts/Rockwell.ttf'); } /* Rockwell */


body {
	background-image: url('background.png');
	
	/* Standard font settings */
	font-size: 11px;
	font-family: "ProximaNova-light";
	line-height: 18px;
	color: #FFFFFF;
}

a {
	color: #4ea7e0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.clear {
	clear: both;
}

.splitter {
	width: 100%;
	border-top: #272727 1px solid;
	border-bottom: #464646 1px solid;
	margin-bottom: 20px;
	margin-top: 10px;
}

.innerwrapper {
	width: 960px;
	margin: 0 auto;
}

h1.logo {
	padding-top:2px;
	margin: 0;
	float: left;
	font-size: 22px;
	font-family: "Rockwell";
}
h1.logo a {
	color: #FFF;
	text-decoration: none;
}
h1.logo span {
	border-top: 2px solid #fff;
}
h1.logo span.blue {
	border-top: 0;
	color: #4ea7e0;
	border-bottom: 2px solid #4ea7e0;
}

h2 {
	font-family: "ProximaNova-semibold";
	margin-bottom: 2px;
}

p {
	margin: 0;
}

nav.main {
	float: right;
}

nav.main ul {
	padding: 0;
	margin:0;
}

nav.main ul li {
	float: left;
	padding-left: 30px;
	list-style:none;
	border-top: 2px #fff solid;
}
nav.main ul li:hover{
	border-top: 2px #4ea7e0 solid;
}
nav.main ul li:nth-child(1) {
}

nav.main ul li a {
	color: #FFF;
}

nav.main ul li a:hover {
	color: #4ea7e0;
}

/* Tags */
span.tag {
	padding: 3px 4px;
	margin-right: 10px;
	border-radius: 3px;
}
section.tags {
	margin-bottom: 20px;
}

/* Colors */
span.tag.green 			{ background: #798c20; } /* Green */
span.tag.orange 		{ background: #c48d22; } /* Orange */
span.tag.redorange 	{ background: #c44c22; } /* Red - orange */
span.tag.darkblue 	{ background: #1a5b89; } /* Darkblue */
span.tag.darkgreen 	{ background: #505927; } /* Darkgreen */
span.tag.purple 		{ background: #5d2d69; } /* Purple */
span.tag.lightbrown	{ background: #514638; } /* Lightbrown */
span.tag.bluepurple	{ background: #002555; } /* Blue - Purple */