// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#imagecard {
  width: 250px;
  text-align: justify;
  float: left;
  margin-right: 105px;
  margin-bottom: 35px;
}

#imagecard:nth-child(3n) {
  margin-right:0;
}

#imagecard .byline {
  font-family: "ProximaNova-lightitallic";
  font-size: 10px;
  margin-top: -7px;
}